{% extends 'base.html.twig' %}

{% block title %}Product Review {% endblock %}

{% block body %}
    <h2>Your Review</h2>

    {% for product in products %}
    <h4>{{product}}</h4>
         <p>
           <a href="{{ path('product', { slug: product.slug }) }}">View</a>
       </p>
    {% endfor %}
{% endblock %}
