{% extends 'base.html.twig' %}

{% block title %}Product Review{% endblock %}

{% block body %}
    <h2>Your Review!</h2>

    {% for product in products %}
         <p>
           <a href="{{ path('product', { id: product.id }) }}">View</a>
       </p>
    {% endfor %}
{% endblock %}
